
@import '~office-ui-fabric-react/dist/sass/References.scss';

@import url("https://cdn.syncfusion.com/ej2/material.css");

.button {
  // Our button
  text-decoration: none;
  height: 38px;

  // Primary Button
  width: 80px;
  background-color: $ms-color-themePrimary;
  border-color: $ms-color-themePrimary;
  color: $ms-color-white;

  // Basic Button
  outline: transparent;
  position: relative;
  font-family: Cambria;
  -webkit-font-smoothing: antialiased;
  font-size: $ms-font-size-m;
  font-weight: $ms-font-weight-regular;
  border-width: 0;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 0 16px;

  .label {
    font-weight: $ms-font-weight-semibold;
    font-size: medium;
    height: 32px;
    line-height: 32px;
    margin: 0 4px;
    vertical-align: top;
    display: inline-block;
  }

 
}

.header
{

  font-size: large;

  width: 30%;

  font-family: Cambria;
  
}

.col1
{

  font-size: medium;

  width: 30%;

  color:blue;
}

.Serachtextbox
{

  width: 50%;

  font-family: "Cambria";

  font-size: large;

}

.boxsize
{

  width: 100%;

  height:30px;

  font-size: medium;

}

.categorysize
{

width:30%;
font-family: "Cambria";
font-size: medium;
font-weight: $ms-font-weight-regular;
font-size: medium;

}

.DetAppName
{

width:80%;
font-family: "Cambria";


}

.msTeams
{

  width:80%;
  font-family: "Cambria";
  font-size: medium;
  font-weight: $ms-font-weight-semibold;
  font-size: medium;


}

.detButton
{

  height:20px;
  background-color: $ms-color-themePrimary;
  border-color: $ms-color-themePrimary;
  color: $ms-color-white;
  font-size: medium;
  font-family: "Cambria";
}

.ProceedButton
{

  height: 38px;
  width: 80px;
  background-color: $ms-color-themePrimary;
  color: $ms-color-white;
  font-size: medium;
  font-family: "Cambria";
 

}

.coststyle

{


  font-family: "Cambria";
  font-size: medium;
  font-weight: $ms-font-weight-regular;
  font-size: medium;
}

.myBorder
{

//border: 1px solid black;
padding: 10px;
background-color:lightgrey;


}

.commonstyle
{

  a
  {

    color: black !important;
  }
  font-family: "Cambria";
  font-size: medium;
  width:50%;
  height:30px;
  //padding-left:18px;

}




.commonstyleDescRightbox
{

  font-family: "Cambria";
  font-size: medium;
  width:50%;
  height:20px;


}





.borfont
{

border: 1px solid black;
padding: 10px;
font-family: "Cambria";
font-size: medium;
font-weight: $ms-font-weight-regular;
font-size: medium;

}

.myBackcolor
{

background-color:lightgrey;
//border: 1px solid black;
padding: 15px;
font-size: medium;
border-radius: 20px;




}

.whitDescBox
{

  background-color:white;
  //padding: 10px;
  font-size: medium;

  min-height: 150px;

  border-radius: 20px;
  
  text-align: left;

  padding: 10px;

}


.myDescBox
{

background-color:lightgrey;
//border: 1px solid black;
padding: 15px;
font-size: medium;
width:100%;
font-family: "Cambria";
font-size: medium;
border-radius: 20px;

}


.myDescRightBox

{

  width:75%;
  font-family: "Cambria";
  font-size: medium;
  background-color: lightgrey;
  border-radius: 20px;

}

.onlyFont
{

  font-family: "Cambria";
  font-size: medium;

}

.alignCenter
{

text-align: left;
font-size: medium;
font-family: "Cambria";
font-weight: bold;

}

.AlignChange
{

  font-family: "Cambria";
  font-size: medium;
  width:50%;
  height:20px;
  padding-left: 15px;

}

.commonstyleDescRightboxonly
{


  font-family: "Cambria";
  font-size: medium;
  width:50%;
  height:20px;


}

.dateTimeClass
{

  width:40%;

}
.tableborder
{

  .tablecell {border: 1px solid black; text-align: center;
  
    font-family: Cambria;
    font-size: medium;
    font-weight: bold;
  
  
  }

  


  .tablecelldata{padding: 5px;
    height: 40px;
    border: 0.5px solid black;
    border-radius: 0px;
    font-family: Cambria;
    font-size: medium;
    
  
  }


  .tablecelldata1{padding: 5px;
    height: 40px;
    border: 0.5px solid black;
    border-radius: 0px;
    font-family: Cambria;
    font-size: medium;
    text-align: center;
    
  
  }




  border: 1px solid black;
  border-collapse: collapse;

    border-right: thick;
    border-left: thick;
    border-bottom: thick;
    border-top: thick;
}



.smallBox::before
{
  content:".";
  width:15px;
  height:15px;
  float:left;
  margin-right:10px;
}
.greenBox::before
{
  content:"";
  background:darkgreen;
}

.redClass input[type=checkbox]
{

  background-color:red;

}

.normalClass input[type=checkbox]
{

  
  background-color: gray;
}

.normalClass input[type=checkbox]:checked
{

  background:green;
}

.Iconbutton {
  // Our button
  text-decoration: none;
  height: 38px;

  // Primary Button
  width: 80px;
  
  color: black;

  // Basic Button
  outline: transparent;
  position: relative;
  font-family: Cambria;
  -webkit-font-smoothing: antialiased;
  font-size: $ms-font-size-m;
  font-weight: $ms-font-weight-regular;
  border-width: 0;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 0 16px;

  .label {
    font-weight: $ms-font-weight-semibold;
    font-size: medium;
    height: 32px;
    line-height: 32px;
    margin: 0 4px;
    vertical-align: top;
    display: inline-block;
  }

 
}

.chkboxDeactive{

   

  div {

    background-color: red !important;
  
 } 


}

.chkboxActive{

   

  div {

    background-color: gray !important;
  
 } 


}

.chkboxActive:is-checked {

   

  div {

    background-color: green !important;
  
 } 


}

.resevedSeats1 {

  div {

  background-color:darkgreen !important;
  font-weight: bold;
  font-family: Cambria;
  font-size: medium;
  

  }

}

.resevedSeats {

  div {

  background-color: red !important;
  font-weight: bold;
  font-family: Cambria;
  font-size: medium;
  

  }

}

.emptySeats {

  div {

  background-color: gray !important;
  font-weight: bold;
  font-family: Cambria;
  font-size: medium;
  

  }

}

.headings {

  font-family: Cambria;
  font-size: medium;
  font-weight: bold;
  
  
}

.MyStyling
{

  display: flex;
  flex-flow: row wrap;
}


